@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "partials/layout";
@import "partials/webfonts";

//Style for the post text
article.type-system-geometric {
  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: $h1-font-size;
    font-weight: 400;
    margin-bottom: .5em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif;
    font-style: italic;
    font-size: $h2-font-size;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.1em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  code {
    white-space: nowrap;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: $base-border-radius * 1.5;
    padding: .1em .4em;
    font-size: .7em;
    font-style: normal;
  }

  h3 {
    font-family: $serif;
    font-size: $h3-font-size;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }

  .date {
    color: transparentize($base-font-color, .6);
    font-family: $serif;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em;
  }

  p.byauthor {
    color: transparentize($base-font-color, .6);
    font-family: $serif;
    font-size: .9em;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    line-height: 1.5em;
    font-size: 1.05em;
    margin-bottom: 1.5em;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      font-family: $sans-serif;
      font-style: normal;
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px;
    }
  }
  
  hr {
    width: 3em;
  }

  p.author {
    font-family: $sans-serif;
  }
}

//Header style
#masthead {
    margin: 0 auto;
    padding: 15px 0;
    color: #57626b;
    -webkit-font-smoothing: antialiased;
    background-color: $base-background-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: normal;    
    max-width: $header-width;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    hgroup {
        margin: 0;
        float: left;
        h1 {
            font-weight: 500;
            line-height: 1.1;
            margin: 0;
            font-size: 1.1em;
            a {
                font-weight: 500;
                cursor: pointer;
                font-size: 1.2em;
                color: #669ecc;
                .home {
                    color: #454e55 !important;
                    font-size: 1.1em;
                    font-weight: 500;
                }
                .home:hover {
                    color: #1d78bd !important;
                }
            }
            a:hover {
                color: #245f8f;
            }
            span{
              a {
                font-weight: 400;
                font-size: .9rem;
                color: #999
              }
              a:hover {
                  color: #1D78BD
              }
            }
        }
    }
}

#cover_wrap {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #eee;
}

#masthead #cover #headernav li.footer-only{
  display:none;
}

//Navbar
#cover{
  float: right;
  margin-top: .21em;
  #headernav {
      padding: 0;
      li {
          display: inline-block;
          margin-right: 1.7em;
          a {
              color: #a6a8ab;
              font-size: .95rem;
              font-weight: 500;
              position: relative;
              z-index: 1;
              svg {
                  margin-right: 3px;
                  margin-bottom: -1px;
                  fill: #a6a8ab !important;
                  circle{
                    fill: #c0c2c4;
                  }
                  path{
                    fill: #c0c2c4;
                  }
              }
              .posts{
                svg {
                  margin-bottom: -3px;
                }
              }
              .research{
                svg {
                  margin-bottom: -3px;
                }
              }
              .selected{
                color: #1D78BD;
                svg{
                  fill: #1d78bd !important;
                  circle{
                    fill: #1D78BD;
                  }
                  path{
                    fill: #1D78BD;
                  }
                }
              }
              .selected:hover:before {
                  background-color: #38c;
                  width: 115%;
                  left: -.7em;
                  -webkit-transition: all 250ms cubic-bezier(0.325, 0, 0, 1);
                  -webkit-transition: all 250ms cubic-bezier(0.325, -.075, 0, 1.65);
                  -moz-transition: all 250ms cubic-bezier(0.325, -.075, 0, 1.65);
                  -o-transition: all 250ms cubic-bezier(0.325, -.075, 0, 1.65);
                  transition: all 250ms cubic-bezier(0.325, -.075, 0, 1.65)
              }
              .selected:before{
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
          }
          a:hover{
            color: #1D78BD;
            svg{
              fill: #1d78bd !important;
              circle{
                fill: #1D78BD;
              }
              path{
                fill: #1D78BD;
              }
            }
          }
          a::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -1em;
              padding: 0 .2em;
              left: -.2em;
              z-index: -1;
              background-color: #1D78BD;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 300ms cubic-bezier(0.325, 0, 0, 1);
              -webkit-transition: all 300ms cubic-bezier(0.325, -.075, 0, 1.65);
              -moz-transition: all 300ms cubic-bezier(0.325, -.075, 0, 1.65);
              -o-transition: all 300ms cubic-bezier(0.325, -.075, 0, 1.65);
              transition: all 300ms cubic-bezier(0.325, -.075, 0, 1.65)
          }
          a:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1)
          }
      }
      li:last-child {
          margin-right: 0 !important
      }      
  }
  
}

#post ul.build-list li::after, #postex .photoset .photoset-col::after, #postex .photoset .photoset-row::after, #postex ul.build-list li::after, .clearfix::after, .photoset .photoset-col::after, .photoset .photoset-row::after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
  
}


// Design main
section {
  @include outer-container;
  aside { @include span-columns(5); }
  article { @include span-columns(7);@include omega();}
}
