@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "partials/layout";
@import "partials/webfonts";


article.type-system-geometric {
  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase;
    margin-top: 35px;
  }

  h1 {
    font-family: $serif;
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: .5em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.1em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  code {
    white-space: nowrap;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: $base-border-radius * 1.5;
    padding: .1em .4em;
    font-size: .7em;
    font-style: normal;
  }

  h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-family: $serif;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    line-height: 1.5em;
    font-size: 1.05em;
    margin-bottom: 1.5em;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      font-family: $sans-serif;
      font-style: normal;
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px;
    }
  }
  
  hr {
    width: 3em;
  }

  p.author {
    font-family: $sans-serif;
  }
}

body {
  margin:0px;
}


header {
  @include clearfix;
  background-color: $header-color;
  margin-bottom: 30px;
  a {
    color: $header-text-color;
    &:hover {
      color: $alt-header-color2;
      text-decoration: none;
    }
  }
  h1 {
    background: image-url($logo-img) no-repeat;
    background-size: image-width($logo-img) image-height($logo-img);
    font-size: 35px;
    height: image-height($logo-img);
    line-height: 1.4em;
//    margin-top: 0 auto;
    padding-top: 20px;
    padding-left: image-width($logo-img) + 20px;
    width: $header-width;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: image-url($logo-img-2x);
    }

    a:hover {
      color: $text-color;
    }
  }
  nav {
    li{
      display: inline;
    }
    margin: -35px auto 0 auto;
    padding-left: image-width($logo-img) + 20px;
    width: $header-width;
  }
  .footer-only {
    display: none;
  }
}