
<div class="home_header">
  <div id="fb-root" style="display:none;"></div>
  <div id="cover_wrap" class="fadeInDown animated clearfix">
    <header id="masthead" class="clearfix">
      <hgroup class="intro">
        <h1>
          <%= link_to "BioComplexity", "/index.html", :class => 'blog-title' %>
          <span><a href="http://twitter.com/d0choa" rel="me" target="_blank">@d0choa</a></span>
        </h1>
      </hgroup>
      <%= partial "partials/nav" %>
    </header>
  </div>
</div>