<nav id="cover">
  <ul id="headernav" class="list-none">
    <li>
      <% link_to('/about.html', { :class => 'about'}) do %><%= partial "partials/about-ico.svg" %>About<% end %>
    </li>
    
    <li>
      <% link_to('/blog.html', { :class => 'posts'}) do %><%= partial "partials/blog-ico.svg" %>Blog<% end %>
    </li>
  
    <li>
      <% link_to('/research.html', { :class => 'research'}) do %><%= partial "partials/research-ico.svg" %>Research<% end %>
    </li>
    
    <!-- <li class="footer-only">
      <%=link_to "Contact", "/contact.html" %>
    </li> -->
    
  </ul>
</nav>