
<section>
  <p>I'm a Postdoctoral Fellow in <a href="http://www.evocellnet.com/p/research.html">Pedro Beltrao's group </a> at <a href="http://www.ebi.ac.uk">EMBL-EBI</a>. My research is focused on disentangling the complexity of biological systems at different levels. The understanding of this complexity plays a key role in the generation of data-driven hypothesis that can reveal the fundamental basis of disease, development, variability, evolution, etc. </p>
</section>

<%= partial "partials/recent_posts" %>      
